In [2]:
print ("hello")

hello

In [1]:
lst= [1,2,3,4,5]
type(lst)

list

In [4]:
lst=set(lst)

In [5]:
lst.issubset(lst)

True

In [15]:
lst=["red","green","white","black","pink","yellow"]

In [18]:
lst=['p','a','r','r','o','t']
strr=""
for i in lst:
    strr+= i
print(strr)

parrot

In [21]:
strr=input()
st= strr[::-1]
if st==strr:
    print("palindrome")
else:
    print("not palindrome")

1212
not palindrome

In [25]:
keys=['ten','twenty','thirty']
values=["10","20","30"]
d={}
d.fromkeys(keys,values)

{'ten': ['10', '20', '30'],
 'twenty': ['10', '20', '30'],
 'thirty': ['10', '20', '30']}

In [26]:
dict={keys[i]:values[i] for i in range(len(keys))}
print(dict)

{'ten': '10', 'twenty': '20', 'thirty': '30'}

In [29]:

dict={i:i**2 for i in range(1,7)}
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [37]:
dict={"1":45,"2":35,"3":41,"4":55,"5":24}
sorted(dict.values(),reverse=True)

[55, 45, 41, 35, 24]

In [38]:
sorted(dict.items(),reverse=True)

[('5', 24), ('4', 55), ('3', 41), ('2', 35), ('1', 45)]

In [59]:
test_dict = {'sup' : {'a' : 7, 'b' : 9, 'c': 12}, 'is' : {'a' : 15, 'b' : 19, 'c' : 20}, 'best' :{'a' : 5,'b' : 10, 'c': 2}}


test_dict.values()

dict_values([{'a': 7, 'b': 9, 'c': 12}, {'a': 15, 'b': 19, 'c': 20}, {'a': 5, 'b': 10, 'c': 2}])

In [51]:
sup = test_dict['sup']

In [52]:
sup['a']

7

In [54]:
key = test_dict.keys()
print(key)

dict_keys(['sup', 'is', 'best'])

In [57]:
key[1]

TypeError: 'dict_keys' object is not subscriptable

In [58]:
test_dict[1]

KeyError: 1

In [60]:
temp= "a"
d= [sub[temp] for sub in test_dict.values() if temp in sub.keys()]
print(d)

[7, 15, 5]

In [138]:
strr="asf dgjfg adsfgh dgg wefghj"
st=strr.split()
print(st)
length=len(max(st, key=len))
print(length)
for i in range(0,len(st)):
    st[i]=st[i].ljust(length)
    print(len(st[i]))

['asf', 'dgjfg', 'adsfgh', 'dgg', 'wefghj']
6
6
6
6
6
6

In [139]:
#for i in range(0,len(st)):
for j in range(0,length):
    for k in range(0,len(st)):
        print(st[k][j],end="")
    print()

adadw
sgdge
fjsgf
 ff g
 gg h
  h j

In [7]:
import numpy as np 

arrayOne = np.array([[5, 6, 9], [21 ,18, 27]])
arrayTwo = np.array([[15 ,33, 24], [4 ,7, 1]])

arrays=np.add(arrayOne,arrayTwo)
print(arrays)
m= np.square(arrays)
print(m)

[[20 39 33]
 [25 25 28]]
[[ 400 1521 1089]
 [ 625  625  784]]

In [8]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
x=np.delete(sampleArray,2,axis=1)
print(x)

[[34 43]
 [82 22]
 [53 94]]

In [9]:
def fun(target):
    target_arr=[]
    for i in range(len(arr)):
        for j in range(i+1,len(arr)):
            temp=arr[i]+arr[j]
            if temp==target:
                target_arr.append(arr[i])
                target_arr.append(arr[j])
                #print(arr[i])
    return target_arr

In [15]:
integer_arr=[int(input("enter elements:")) for i in range(int(input("How many elements are in list : ")))] 
print(integer_arr)
target_sum= int(input("enter target sum"))

for i in integer_arr:
    diff = target_sum -i 
    if diff in integer_arr and diff!=i:
        print(i,diff)
        break

How many elements are in list : 5
enter elements:1
enter elements:2
enter elements:3
enter elements:4
enter elements:5
[1, 2, 3, 4, 5]
enter target sum5
1 4

In [23]:
import pandas as pd 

a_list = list("abcdefg")
numpy_array = np.arange(1, 10)
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}

series_list= pd.Series(a_list)
print(series_list)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [34]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser2 = pd.Series(np.arange(26))

ser=ser1.append(ser2,ignore_index = True)
serdf=pd.DataFrame({"col1":ser1,"col2":ser2})
ser
serdf

   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

In [37]:
class vehicle:
    def __init__(self,max_speed,name,mileage):
        self.max_speed=max_speed
        self.name=name
        self.mileage=mileage
    def seating_capacity(self,capacity):
        self.capacity=capacity
        
class bus(vehicle):
    def seating_capacity(self,capacity=50):
        self.capacity=capacity